@import "animation.css";

body {
  padding : 0px;
  margin :  0px;
  font-family: Montserrat,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(109, 157, 255);
  border-radius : 5px;
}

.landingPage {
  overflow : hidden;
  height : 100vh;
  width : 100vw;
  padding : 0px;
}

.home {
  background-image : url("./images/wave.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: 0% 60%;
  height : 55vh;
  width : 100vw;
  display : flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top : 30vh;
  margin-top : 0px;
}

.home-title {
  text-align: center;
  font-size : 100px;
  color : white;
  margin : 0px;
  text-shadow : 4px 0px 0px #16697A;
  transition: all 0.5s linear;
  margin-bottom : 15px;
}

.home-title:hover {
  cursor: default;
  color :#16697A;
  text-shadow : 4px 0px 0px white;
  text-decoration-line: underline;
}

.home-description {
  font-size : 20px;
  text-align: center;
  color : #16697A;
  margin : 0px;
  margin-bottom: 25px;
  padding-left: 25px;
}

.home-description:hover {
  cursor : default;
}  

a {
  all : unset;
}
.start-quiz {
  height : 40px;
  width : 170px;
  font-size : 25px;
  font-weight: 500;
  border:  0px;
  border-radius : 10px;
  text-align: center;
  padding-top : 10px;
  background-color : #16697A;
  color : white;
  z-index : 4;
  transition : all 0.25s linear;
}
.start-quiz:hover {
  /* background-color : white;
  color : #16697A;
  font-size : 20px; */
  cursor : pointer;
  box-shadow : 3px 3px 3px #ffffff;
}

.quizPage {
  background : #F5F7FB;
  display : flex;
  flex-direction : column;
  align-items: center;
  overflow-x : hidden;
}

.questionSection {
  max-width: 80vw;
  margin : auto;
}

.quiz-p1 {
  margin-top : 60px;
}

.quiz-p1.blur {
  filter : blur(2px);
}

.question {
  margin : 10px 0px;
  color : #293264;
  font-family: karla, Montserrat, sans-serif;
  font-weight: 700;
  font-size : 20px;
  padding-top : 0px;
  padding-bottom : 15px;
  transition: all 0.5s linear;
}

.option {
  display : flex;
  font-family : Inter, Montserrat, sans-serif;
  font-weight: 500;
  font-size : 10px;
  flex-wrap : wrap;
  justify-content: space-between;
  color : #293264;
  padding-top : 15px;
  padding-bottom : 25px;
}

.op0,.op1,.op2,.op3 {
  background : #F5F7FB;
  border : 1px solid #4D5B9E;
  min-width : 100px;
  border-radius : 22px;
  padding : 5px;
  padding-left : 10px;
  padding-right : 10px;
  font-size : 15px;
  font-weight: 500;
  text-align : center;
}

.op0:hover,.op1:hover,.op2:hover,.op3:hover {
  background: #dde8ff;
  cursor : pointer;
}

.selected-option {
  background : #D6DBF5;
  border : 0px;
  min-width : 100px;
  border-radius : 22px;
  padding : 5px;
  padding-left : 10px;
  padding-right : 10px;
  font-size : 15px;
  font-weight: 500;
  text-align : center;
}

.check-answer {
  width : 160px;
  height : 40px;
  margin-top : 80px;
  margin-bottom: 100px;
  font-size: 17px;
  font-family: karla;
  color : white;
  background: #293264;
  border : 0px;
  border-radius : 10px;
  cursor : pointer;
}

#popup {
 position : fixed;
 top : 40%;
 left : 50%;
 transform : translate(-50%,-50%);
 width : 600px;
 padding : 50px;
 box-shadow : 0 5px 30px rgba(0,0,0,0.3);
 background-color: white;
 visibility : hidden;
 opacity : 0;
 transition : 0.5s;
}

#popup.active {
 top : 50%;
 visibility : visible;
 opacity : 1;
 transition : 0.5s;
}

#popup > h2 {
 margin-left : 20%;
 margin-bottom: 50px;
 color : #293264;
 font-family: karla, Montserrat, sans-serif;
 font-weight: 700;
 font-size : 20px;
}

.playAgain {
 margin-left : 35%;
 width : 160px;
 height : 40px;
 padding : 10px;
 font-size: 20px;
 font-family: karla;
 color : white;
 background: #293264;
 border : 0px;
 border-radius : 10px;
 cursor : pointer;
}

.header {
 background-color: #19859b;
 color : white;
 text-shadow: 3px 0px 0px orange;
 width : 100vw;
 font-size : 60px;
 font-weight: 900;
 text-align: center;
 padding : 10px;
 box-shadow: 0px 1px 5px rgb(85, 85, 85);
}

.header>button
{
 transition: all 0.25s linear;
}

.header>button:hover {
 cursor : pointer;
 text-shadow: 3px 0px 0px red;
 box-shadow: 4px 0px 0px orange, -4px 0px 0px orange;
}

.rights {
  width : 100%;
  text-align: center;
  background-color: rgb(18, 8, 69);
  color : white;
  margin-bottom: 10px;
}


