body {
  padding : 0px;
  margin :  0px;
  font-family: Montserrat,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./images/noise-bg.png), linear-gradient(120deg, #0F172A, #5E5171); */
  background-color: #0F172A;
  background-image: url(./images/noise-bg.png);
  overflow-x: hidden;
}


*, *:hover {
      cursor: none;        
  }


body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #00C6BF;
  border-radius : 5px;
}

a {
  all : unset;
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 12px;
    height: 12px;
    background-color:  #ffc800;
}
/* #dc5656 */
/* 214, 117, 117 */
.cursor-dot-outline {
    width: 36px;
    height: 36px;
    background-color: rgba(255, 226, 122, 0.4);

}
